/*

000 - 600px:   Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet landscape
1200 - 1800px: Normal styles
1800px + :     Big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- desktop

ORDER: Base + Typography > general layout + grid > page layout > components
*/
:root {
  --color-primary: #ca2529;
  --color-primary-light-1: #da2529;
  --color-primary-light-2: #ea2529;
  --color-primary-dark-1: #ba2529;
  --color-primary-dark-2: #aa2529;
  --color-primary-2: #00258b;
  --color-primary-2-light: #0633af;
  --color-primary-2-dark: #021958;
  --color-secondary: #231d22;
  --color-secondary-light: #2d1d22;
  --color-secondary-dark: #2f1d22;
  --color-tertiary: #e2dbdb;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0rem 2rem 5rem rgba(0, 0, 0, 0.6);
  --line: 2px solid var(--color-tertiary);
}

@-webkit-keyframes drawLine {
  0% {
    width: 0%;
    border-bottom: none;
  }
  100% {
    width: 100%;
    border-bottom: var(--line);
  }
}

@keyframes drawLine {
  0% {
    width: 0%;
    border-bottom: none;
  }
  100% {
    width: 100%;
    border-bottom: var(--line);
  }
}
@-webkit-keyframes displayImg {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes displayImg {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  line-height: 1;
}
@media only screen and (max-width: 68.15em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Droid Sans Mono", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading-primary {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-tertiary);
  line-height: 1;
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  color: var(--color-tertiary);
}

.heading-tertiary {
  display: block;
  font-size: 2rem;
  font-style: italic;
  color: var(--color-primary-light-1);
}

.paragraph {
  font-size: 1.6rem;
  color: var(--color-tertiary);
  margin: 3rem 0;
}

.link:link, .link:visited {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary);
  border: 2px solid var(--color-tertiary);
  padding: 0.5rem 1.5rem;
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, var(--color-tertiary) 50%);
  background-size: 250%;
  transition: all 0.4s;
}
.link:hover, .link:active, .link:focus {
  outline: none;
  background-position: 100%;
  color: var(--color-primary-light-1);
  transform: translateX(1rem);
}
.link:active {
  transform: translateX(1rem) translateY(0.5rem);
}

.color-theme__selector {
  position: fixed;
  top: 10rem;
  right: 3rem;
  font-size: 4rem;
  border-radius: 50%;
  padding: 0.5rem;
  color: var(--color-tertiary);
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s;
}
.color-theme__selector:hover, .color-theme__selector:focus {
  font-size: 5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10rem;
  background-color: var(--color-secondary);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.header > * {
  margin-top: -5vh;
  opacity: 1;
}
.header__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.5s;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}
.header__about--job {
  letter-spacing: 1rem;
  transition: all 0.5s;
}
.header__about--job::after {
  content: "";
  display: block;
  -webkit-animation: drawLine 1s forwards;
          animation: drawLine 1s forwards;
}
.header__img {
  margin-bottom: 2rem;
}
.header__img-container {
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
  shape-outside: circle(40% at 50% 50%);
  width: 40rem;
  height: 30rem;
  transform: translateY(-300%);
  transition: all 0.2s;
  -webkit-animation: displayImg 1s forwards;
          animation: displayImg 1s forwards;
}
.header__img-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.nav {
  background-color: var(--color-secondary);
  border-bottom: 2px solid var(--color-tertiary);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 1000;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.nav__link:link, .nav__link:visited {
  outline: none;
  display: block;
  padding: 1.2rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  color: var(--color-tertiary);
  text-transform: uppercase;
  text-decoration: none;
}
.nav__link:hover, .nav__link:active {
  transform: translateY(-2px) scale(1.1);
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}
.nav__link-active {
  color: var(--color-primary) !important;
  font-weight: 700;
}
.nav__link:active {
  transform: translateY(1px);
}

.container {
  display: grid;
  grid-template-rows: minmax(-webkit-min-content, 80vh);
  grid-template-rows: minmax(min-content, 80vh);
  height: 200vh;
}