/*

000 - 600px:   Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet landscape
1200 - 1800px: Normal styles
1800px + :     Big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- desktop

ORDER: Base + Typography > general layout + grid > page layout > components
*/
:root {
  --color-primary: #ca2529;
  --color-primary-light-1: #e22a2d;
  --color-primary-light-2: #ea2529;
  --color-primary-dark-1: #ba2529;
  --color-primary-dark-2: #77181c;
  --color-primary-2: #00258b;
  --color-primary-2-light: #0633af;
  --color-primary-2-dark: #021958;
  --color-secondary: #231d22;
  --color-secondary-light: #2d1d22;
  --color-secondary-dark: #2f1d22;
  --color-tertiary: #e2dbdb;
  --color-grey-light-1: #d3c5c8;
  --color-grey-light-2: #d6cdcd;
  --color-grey-dark-1: #2c2929;
  --color-grey-dark-2: #777;
  --shadow-light: 0rem 2rem 6rem rgba(0, 0, 0, 0.6);
  --shadow-dark: 0rem 1rem 6rem rgba(194, 168, 168, 0.4);
  --line: 2px solid var(--color-tertiary);
}

@-webkit-keyframes drawLine {
  0% {
    width: 0%;
    border-bottom: none;
  }
  100% {
    width: 100%;
    border-bottom: var(--line);
  }
}

@keyframes drawLine {
  0% {
    width: 0%;
    border-bottom: none;
  }
  100% {
    width: 100%;
    border-bottom: var(--line);
  }
}
@-webkit-keyframes displayImg {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes displayImg {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes calcWidth {
  from {
    width: 0;
  }
}
@keyframes calcWidth {
  from {
    width: 0;
  }
}
@-webkit-keyframes viewNotification {
  from {
    opacity: 0;
    transform: translateX(150%);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes viewNotification {
  from {
    opacity: 0;
    transform: translateX(150%);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  line-height: 1;
}
@media only screen and (max-width: 68.15em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Droid Sans Mono", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading-primary {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-tertiary);
  line-height: 1;
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--color-tertiary);
}
.heading-secondary__italic {
  font-style: italic;
}

.heading-tertiary {
  display: block;
  font-size: 2rem;
  font-style: italic;
  color: var(--color-primary-light-1);
}

.paragraph {
  font-size: 1.6rem;
  color: var(--color-tertiary);
  margin: 3rem 0;
}

.heading-linear {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-primary-dark-2), var(--color-primary-light-2), var(--color-primary-dark-2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
}
.heading-linear:hover {
  transform: scale(1.1) skew(20deg);
}
.heading-linear::after {
  content: "";
  display: block;
  -webkit-animation: drawLine 1s forwards;
          animation: drawLine 1s forwards;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-lg {
  margin-bottom: 6rem;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.5s;
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}
.about__job {
  letter-spacing: 1rem;
  transition: all 0.5s;
}
.about__job::after {
  content: "";
  display: block;
  -webkit-animation: drawLine 1s forwards;
          animation: drawLine 1s forwards;
}
.about__img {
  margin-bottom: 2rem;
}
.about__img-container {
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
  shape-outside: circle(40% at 50% 50%);
  width: 40rem;
  height: 30rem;
  transform: translateY(-300%);
  transition: all 0.2s;
  -webkit-animation: displayImg 1s forwards;
          animation: displayImg 1s forwards;
}
.about__img-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.btn {
  all: unset;
}

.link, .link:link, .link:visited {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary);
  border: 2px solid var(--color-tertiary);
  padding: 0.5rem 1.5rem;
  background-image: linear-gradient(130deg, transparent 0%, transparent 50%, var(--color-tertiary) 50%);
  background-size: 250%;
  transition: all 0.4s;
  cursor: pointer;
}
.link:hover, .link:active, .link:focus {
  outline: none;
  background-position: 100%;
  color: var(--color-primary-light-1);
  transform: translateX(1rem);
}
.link:active {
  transform: translateX(1rem) translateY(0.5rem);
}

.color-theme__selector {
  fill: var(--color-tertiary);
  position: fixed;
  top: 10rem;
  right: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s;
}
.color-theme__selector:hover, .color-theme__selector:focus {
  background-color: var(--color-tertiary);
  fill: var(--color-secondary);
  padding: 1rem;
}

.skills {
  background-color: var(--color-grey-dark-1);
  line-height: 1.1;
  padding: 2rem 10rem;
}
.skills__list {
  list-style: none;
  color: var(--color-tertiary);
  font-size: 2.4rem;
}
.skills__item {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  transition: all 0.2s;
}
.skills__item-skill {
  color: var(--color-tertiary);
}
.skills__item-percentage {
  border-radius: 200px;
  background-color: var(--color-secondary);
  position: relative;
}
.skills__item-percentage.vis::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  background-image: linear-gradient(var(--color-primary), var(--color-secondary));
  border-radius: inherit;
}

.form {
  width: 50%;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column-reverse;
}
.form__group:first-of-type {
  margin-top: 3rem;
}
.form__group:last-child {
  margin-top: 5rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-tertiary);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-primary);
}
.form__input:focus:invalid + .form__label {
  color: var(--color-primary);
}
.form__input::-moz-placeholder {
  color: var(--color-grey-light-2);
}
.form__input::-moz-placeholder, .form__input::-webkit-input-placeholder, .form__input::placeholder {
  color: var(--color-grey-light-2);
}
.form__input--content {
  resize: vertical;
}
.form__label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 1.6rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  color: var(--color-tertiary);
}
.form__input:-moz-placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
}
.form__input:-ms-input-placeholder + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(5rem);
}

.other-contact {
  padding: 0 5rem;
}
.other-contact__list {
  list-style: none;
  color: var(--color-tertiary);
  text-decoration: none;
  font-size: 1.6rem;
}
.other-contact__list-item {
  margin: 2rem;
  transition: all 0.2s;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.other-contact__list-item:first-child {
  margin-top: 6rem;
}
.other-contact__list-item--link, .other-contact__list-item--link:link, .other-contact__list-item--link:visited {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  display: flex;
  align-items: center;
}
.other-contact__list-item--icon {
  height: 3rem;
  width: 3rem;
  fill: var(--color-tertiary);
  margin-right: 3rem;
}
.other-contact__list-item:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  border-radius: 3px;
  padding: 0 3px;
  transform: translateY(-2px);
}
.other-contact__list-item:hover .other-contact__list-item--icon {
  fill: var(--color-secondary);
}
.other-contact__list-item:active {
  transform: translateY(1px);
}

.notification {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 30rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-primary);
  border-radius: 5px;
  top: 6rem;
  right: 0;
  transform: translateX(150%);
  background-color: var(--color-grey-dark-2);
  transition: all 0.2s;
  -webkit-animation: viewNotification 1s ease-in-out forwards;
          animation: viewNotification 1s ease-in-out forwards;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header__nav {
  background-color: var(--color-secondary);
  border-bottom: 2px solid var(--color-tertiary);
  width: 100%;
  display: block;
}
.header__nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.header__nav-link:link, .header__nav-link:visited {
  outline: none;
  display: block;
  padding: 1.2rem;
  transition: all 0.2s;
  font-size: 1.6rem;
  color: var(--color-tertiary);
  text-transform: uppercase;
  text-decoration: none;
}
.header__nav-link:hover, .header__nav-link:active {
  transform: translateY(-2px) scale(1.1);
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}
.header__nav-link--active {
  color: var(--color-primary) !important;
}
.header__nav-link:active {
  transform: translateY(1px);
}

.footer {
  padding: 2rem;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-size: 2.4rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.container {
  background-color: var(--color-grey-dark-1);
  display: grid;
}

.section-about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15rem 10rem 10rem 10rem;
  background-color: var(--color-secondary);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.section-about > * {
  margin-top: -5vh;
  opacity: 1;
}

.section-contact {
  margin: 10rem;
}
.section-contact .contact {
  padding: 4rem;
  background-image: linear-gradient(80deg, var(--color-secondary) 0%, var(--color-secondary) 50%, rgba(0, 0, 0, 0.2) 50%);
  display: flex;
  flex-direction: row;
}

.percent-1::after {
  width: 1%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-2::after {
  width: 2%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-3::after {
  width: 3%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-4::after {
  width: 4%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-5::after {
  width: 5%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-6::after {
  width: 6%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-7::after {
  width: 7%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-8::after {
  width: 8%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-9::after {
  width: 9%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-10::after {
  width: 10%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-11::after {
  width: 11%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-12::after {
  width: 12%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-13::after {
  width: 13%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-14::after {
  width: 14%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-15::after {
  width: 15%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-16::after {
  width: 16%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-17::after {
  width: 17%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-18::after {
  width: 18%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-19::after {
  width: 19%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-20::after {
  width: 20%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-21::after {
  width: 21%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-22::after {
  width: 22%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-23::after {
  width: 23%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-24::after {
  width: 24%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-25::after {
  width: 25%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-26::after {
  width: 26%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-27::after {
  width: 27%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-28::after {
  width: 28%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-29::after {
  width: 29%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-30::after {
  width: 30%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-31::after {
  width: 31%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-32::after {
  width: 32%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-33::after {
  width: 33%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-34::after {
  width: 34%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-35::after {
  width: 35%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-36::after {
  width: 36%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-37::after {
  width: 37%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-38::after {
  width: 38%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-39::after {
  width: 39%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-40::after {
  width: 40%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-41::after {
  width: 41%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-42::after {
  width: 42%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-43::after {
  width: 43%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-44::after {
  width: 44%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-45::after {
  width: 45%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-46::after {
  width: 46%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-47::after {
  width: 47%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-48::after {
  width: 48%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-49::after {
  width: 49%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-50::after {
  width: 50%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-51::after {
  width: 51%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-52::after {
  width: 52%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-53::after {
  width: 53%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-54::after {
  width: 54%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-55::after {
  width: 55%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-56::after {
  width: 56%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-57::after {
  width: 57%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-58::after {
  width: 58%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-59::after {
  width: 59%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-60::after {
  width: 60%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-61::after {
  width: 61%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-62::after {
  width: 62%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-63::after {
  width: 63%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-64::after {
  width: 64%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-65::after {
  width: 65%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-66::after {
  width: 66%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-67::after {
  width: 67%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-68::after {
  width: 68%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-69::after {
  width: 69%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-70::after {
  width: 70%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-71::after {
  width: 71%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-72::after {
  width: 72%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-73::after {
  width: 73%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-74::after {
  width: 74%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-75::after {
  width: 75%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-76::after {
  width: 76%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-77::after {
  width: 77%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-78::after {
  width: 78%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-79::after {
  width: 79%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-80::after {
  width: 80%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-81::after {
  width: 81%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-82::after {
  width: 82%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-83::after {
  width: 83%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-84::after {
  width: 84%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-85::after {
  width: 85%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-86::after {
  width: 86%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-87::after {
  width: 87%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-88::after {
  width: 88%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-89::after {
  width: 89%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-90::after {
  width: 90%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-91::after {
  width: 91%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-92::after {
  width: 92%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-93::after {
  width: 93%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-94::after {
  width: 94%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-95::after {
  width: 95%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-96::after {
  width: 96%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-97::after {
  width: 97%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-98::after {
  width: 98%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-99::after {
  width: 99%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}

.percent-100::after {
  width: 100%;
  transition: all 0.5s;
  -webkit-animation: calcWidth 1s;
          animation: calcWidth 1s;
}