/*

000 - 600px:   Phone
600 - 900px:   Tablet portrait
900 - 1200px:  Tablet landscape
1200 - 1800px: Normal styles
1800px + :     Big desktop

$breakpoint argument choices
- phone
- tab-port
- tab-land
- desktop

ORDER: Base + Typography > general layout + grid > page layout > components
*/
:root {
  --color-primary: #ca2529;
  --color-primary-light-1: #da2529;
  --color-primary-light-2: #ea2529;
  --color-primary-dark-1: #ba2529;
  --color-primary-dark-2: #aa2529;
  --color-secondary: #231d22;
  --color-secondary-light: #2d1d22;
  --color-secondary-dark: #2f1d22;
  --color-accent: #92100f;
  --color-accent-light: #c2100f;
  --color-accent-dark: #62100f;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-white: rgb(247, 240, 240);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0rem 2rem 5rem rgba(0, 0, 0, 0.6);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.15em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Droid Sans Mono", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading-primary {
  color: wheat;
  line-height: 1;
}

.link {
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary);
  border: 2px solid var(--color-white);
  padding: 0.5rem 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-center;
  padding: 10rem;
  background-color: var(--color-secondary);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}
.header > * {
  margin-top: 5vh;
}
.header__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__about--name {
  display: block;
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
}
.header__about--job {
  display: block;
  font-size: 2rem;
  text-align: center;
  color: var(--color-primary-light-1);
}
.header__about--paragraph {
  font-size: 1.6rem;
  color: var(--color-white);
  margin: 3rem 0;
}
.header__about--link:link, .header__about--link:visited {
  background-image: linear-gradient(150deg, transparent 0%, transparent 50%, var(--color-white) 50%);
  background-size: 250%;
  transition: all 0.4s;
}
.header__about--link:hover, .header__about--link:active {
  background-position: 100%;
  color: var(--color-primary);
  transform: translateX(1rem);
}
.header__about--link:active {
  transform: translateX(1rem) translateY(0.5rem);
}
.header__img-container {
  -webkit-clip-path: circle(40% at 50% 50%);
          clip-path: circle(40% at 50% 50%);
  shape-outside: circle(40% at 50% 50%);
  width: 40rem;
  height: 30rem;
  transition: all 0.2s;
}
.header__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.container {
  display: grid;
  grid-template-rows: minmax(-webkit-min-content, 80vh);
  grid-template-rows: minmax(min-content, 80vh);
}