.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  &__nav {
    background-color: $color-secondary;
    border-bottom: 2px solid $color-tertiary;
    width: 100%;
    display: block;

    &-list {
      display: flex;
      justify-content: space-around;
      list-style: none;
    }

    &-item {
    }

    &-link {
      &:link,
      &:visited {
        outline: none;
        display: block;
        padding: 1.2rem;

        transition: all 0.2s;
        font-size: 1.6rem;
        color: $color-tertiary;
        text-transform: uppercase;
        text-decoration: none;
      }
      &:hover,
      &:active {
        transform: translateY(-2px) scale(1.1);
        background-color: $color-tertiary;
        color: $color-secondary;
      }

      &--active {
        color: $color-primary !important;
        // font-weight: 700;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}
