@use "sass:math";
@mixin widthPercent {
    @for $i from 1 to 101 {
        .percent-#{$i} {
            &::after {
                width: math.percentage(math.div($i, 100));
                transition: all 0.5s;
                animation: calcWidth 1s;
            }
        }
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin slideTranslate {
    @for $i from -10 to 10 {
        .slide-#{$i} {
            transform: translateX(math.percentage(1.2 * $i));

            @include respond(md) {
                transform: translateX(math.percentage(1.7 * $i));
            }
        }
    }
}
@mixin respond($breakpoint) {
    @if $breakpoint == xxs {
        @media only screen and (max-width: 18.75em) {
            //300px
            @content;
        }
    }
    @if $breakpoint == xs {
        @media only screen and (max-width: 38.125em) {
            //610px
            @content;
        }
    }

    @if $breakpoint == sm {
        @media only screen and (max-width: 43.75em) {
            //700px
            @content;
        }
    }
    @if $breakpoint == md {
        @media only screen and (max-width: 62.5em) {
            //1000px
            @content;
        }
    }
    @if $breakpoint == lg {
        @media only screen and (max-width: 75em) {
            //1200px
            @content;
        }
    }
    @if $breakpoint == xl {
        @media only screen and (min-width: 112.5em) {
            //1800px
            @content;
        }
    }
}
