:root {
  --color-primary: #ca2529;
  --color-primary-rgb: 202, 37, 41;
  --color-primary-light-1: #e22a2d;
  --color-primary-light-1-rgb: 226, 42, 45;
  --color-primary-light-2: #ea2529;
  --color-primary-light-2-rgb: 235, 38, 42;

  --color-primary-dark-1: #ba2529;
  --color-primary-dark-1-rgb: 186, 37, 41;
  --color-primary-dark-2: #77181c;
  --color-primary-dark-2-rgb: 120, 23, 28;

  --color-secondary: #231d22;
  --color-secondary-rgb: 35, 29, 34;
  --color-secondary-light: #2d1d22;
  --color-secondary-light-rgb: 45, 29, 34;
  --color-secondary-dark: #2f1d22;
  --color-secondary-dark-rgb: 47, 29, 34;

  --color-tertiary: #e2dbdb;
  --color-tertiary-rgb: 226, 219, 219;

  // --color-grey-light-1: #faf9f9;
  // --color-grey-light-2: #f4f2f2;
  // --color-grey-light-1: #d3c5c8;
  // --color-grey-light-2: #d6cdcd;

  // --color-grey-dark-1: #2c2929;
  // --color-grey-dark-2: #777;
  --color-grey-light-1: #d3c5c8;
  --color-grey-light-1-rgb: 211, 197, 200;
  --color-grey-light-2: #d6cdcd;
  --color-grey-light-2-rgb: 214, 205, 205;

  --color-grey-dark-1: #2c2929;
  --color-grey-dark-1-rgb: 44, 41, 41;
  --color-grey-dark-2: #777777;
  --color-grey-dark-2-rgb: 119, 119, 119;

  --shadow-light: 0rem 2rem 6rem rgba(0, 0, 0, 0.6);
  --shadow-dark: 0rem 1rem 6rem rgba(194, 168, 168, 0.4);
  --line: 2px solid var(--color-tertiary);
}

$bp-lg: 75em;
$bp-md: 62.5em;
$bp-sm: 43.75em;
$bp-xs: 38.125em;
