:root {
  --color-primary: #ca2529;
  --color-primary-light-1: #e22a2d;
  --color-primary-light-2: #ea2529;

  --color-primary-dark-1: #ba2529;
  --color-primary-dark-2: #77181c;

  --color-primary-2: #00258b;
  --color-primary-2-light: #0633af;
  --color-primary-2-dark: #021958;

  --color-secondary: 35, 29, 34;
  --color-secondary-light: #2d1d22;
  --color-secondary-dark: #2f1d22;

  --color-tertiary: 226, 219, 219;

  // --color-grey-light-1: #faf9f9;
  // --color-grey-light-2: #f4f2f2;
  // --color-grey-light-1: #d3c5c8;
  // --color-grey-light-2: #d6cdcd;

  // --color-grey-dark-1: #2c2929;
  // --color-grey-dark-2: #777;
  --color-grey-light-1: 211, 197, 200;
  --color-grey-light-2: 214, 205, 205;

  --color-grey-dark-1: 44, 41, 41;
  --color-grey-dark-2: 119, 119, 119;

  --shadow-light: 0rem 2rem 6rem rgba(0, 0, 0, 0.6);
  --shadow-dark: 0rem 1rem 6rem rgba(194, 168, 168, 0.4);
  --line: 2px solid rgb(var(--color-tertiary));
}

$color-primary: var(--color-primary);
$color-primary-light-1: var(--color-primary-light-1);
$color-primary-light-2: var(--color-primary-light-2);

$color-primary-dark-1: var(--color-primary-dark-1);
$color-primary-dark-2: var(--color-primary-dark-2);

$color-primary-2: var(--color-primary-2);
$color-primary-2-light: var(--color-primary-2-light);
$color-primary-2-dark: var(--color-primary-2-dark);

$color-secondary: rgb(var(--color-secondary));
$color-secondary-light: var(--color-secondary-light);
$color-secondary-dark: var(--color-secondary-dark);

$color-grey-light-1: rgb(var(--color-grey-light-1));
$color-grey-light-2: rgb(var(--color-grey-light-2));

$color-grey-dark-1: rgb(var(--color-grey-dark-1));
$color-grey-dark-2: rgb(var(--color-grey-dark-2));

$color-tertiary: rgb(var(--color-tertiary));

$shadow-dark: var(--shadow-dark);
$shadow-light: var(--shadow-light);
$line: var(--line);

$bp-largest: 75em; //1200px
$bp-large: 68.15em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
