.color-theme__selector {
  fill: var(--color-tertiary);
  position: fixed;
  top: 10rem;
  right: 3rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 1000;
  cursor: pointer;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: var(--color-tertiary);
    fill: var(--color-secondary);
    padding: 1rem;
  }
}
