.form {
  width: 50%;
  @include respond(md) {
    width: 100%;
  }
  &__group:not(:last-child) {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
  }
  &__group:first-of-type {
    margin-top: 3rem;
  }
  &__group:last-child {
    margin-top: 5rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(white, 0.4);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 0.3s;

    &:focus {
      outline: none;

      border-bottom: 3px solid var(--color-tertiary);

      &:invalid {
        border-bottom: 3px solid var(--color-primary);
      }
      &:invalid + .form__label {
        color: var(--color-primary);
      }
    }
    &::-moz-placeholder,
    &::placeholder,
    &::-ms-input-placeholder,
    &:-ms-input-placeholder {
      color: black;
      opacity: 0.7;
    }
    &::-webkit-input-placeholder {
      color: black;
      opacity: 0.7;
    }

    &--content {
      resize: vertical;
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 1.6rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    // transform: translateY(-8.5rem);
    color: var(--color-tertiary);
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5rem);
  }
}
