.notification {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 6rem;
  right: 0;
  min-width: 30rem;
  min-height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-primary);
  border-radius: 5px;

  transform: translateX(150%);
  background-color: var(--color-tertiary);

  transition: all 0.2s;

  animation: viewNotification 0.8s forwards;
}
