.other-contact {
  padding: 0 5rem;
  &__list {
    list-style: none;
    color: $color-tertiary;
    text-decoration: none;
    font-size: 1.6rem;
    &-item {
      margin: 2rem;
      transition: all 0.2s;
      display: block;
      width: fit-content;
      &:first-child {
        margin-top: 6rem;
      }

      &--link,
      &--link:link,
      &--link:visited {
        color: inherit;
        text-decoration: inherit;
        font-size: inherit;
        display: flex;
        align-items: center;
      }
      &--icon {
        height: 3rem;
        width: 3rem;
        fill: $color-tertiary;
        margin-right: 3rem;
      }

      &:hover {
        background-color: $color-tertiary;
        color: $color-secondary;
        border-radius: 3px;
        padding: 0 3px;
        transform: translateY(-2px);
      }
      &:hover &--icon {
        fill: $color-secondary;
      }
      &:active {
        transform: translateY(1px);
      }
    }
  }
}
