.other-contact {
  padding: 0 5rem;
  @include respond(md) {
    padding: 0;
  }
  &__title {
    @include respond(md) {
      margin: 4rem 1rem 3rem 1rem;
      // margin-bottom: 3rem;
    }
  }

  &__list {
    list-style: none;
    color: $color-tertiary;
    text-decoration: none;
    font-size: 1.6rem;
    @include respond(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: end;
      column-gap: 2rem;
    }
    @include respond(xs) {
      display: grid;
      grid-template-columns: 1fr;
      align-items: end;
    }
    &-item {
      margin: 2rem;
      transition: all 0.2s;
      display: block;
      width: fit-content;
      border-bottom: 2px solid transparent;
      padding: 0.5rem 0;
      @include respond(md) {
        margin: 1rem;
      }
      &:first-child {
        margin-top: 6rem;
        @include respond(md) {
          margin-top: 2rem;
        }
      }

      &--link,
      &--link:link,
      &--link:visited {
        color: inherit;
        text-decoration: inherit;
        font-size: inherit;
        display: flex;
        align-items: center;
      }
      &--icon {
        height: 3rem;
        width: 3rem;
        fill: $color-tertiary;
        margin-right: 3rem;
      }

      &:hover {
        transform: translateX(1rem);
        border-bottom: 2px solid currentColor;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }
}
