.skills {
  background-color: $color-grey-dark-1;
  line-height: 1;
  padding: 2rem 10rem;

  &__title {
  }

  &__list {
    list-style: none;
    color: $color-tertiary;
    font-size: 2.4rem;
  }

  &__item {
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: space-between;
    transition: all 0.2s;
    &-skill {
      color: $color-tertiary;
    }

    &-percentage {
      border-radius: 10px;
      background-color: $color-secondary;
      position: relative;
    }

    &-percentage.vis {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 100%;
        background-image: linear-gradient($color-primary, $color-secondary);
        border-radius: inherit;
      }
    }
  }
}
