@keyframes drawLine {
  0% {
    width: 0%;
    border-bottom: none;
  }

  100% {
    width: 100%;
    border-bottom: var(--line);
  }
}

@keyframes displayImg {
  0% {
    transform: translateY(-300%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes calcWidth {
  from {
    width: 0;
  }
}

@keyframes viewNotification {
  from {
    opacity: 0;
    transform: translateX(150%);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100rem);
  }
  80% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hideEl {
  from {
    opacity: 1;
    transform: scale(1);
    clip-path: circle(50% at 50% 50%);
  }
  to {
    border-radius: 50000000px;
    opacity: 0;
    display: none !important;
    transform: scale(0);
    clip-path: circle(50% at 50% 50%);
  }
}
