* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  line-height: 1;
  @media only screen and (max-width: $bp-md) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-sm) {
    font-size: 45%;
  }
}
