.splash {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  animation: anim 2s ease-in-out forwards;
}

.personal-img {
  width: 400px;
  height: 400px;
  clip-path: circle(40% at 50% 50%);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.name {
  opacity: 0;
  padding-top: 30px;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  transition: all 0.5s;
  animation: animName 2s forwards;
  animation-delay: 1s;
  box-shadow: 0 100px 200px red;
}
