.splash-screen {
  background-image: linear-gradient(to right bottom, var(--color-secondary), var(--color-grey-dark-1));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;

  &__svg {
    width: auto;
    height: auto;
    overflow: visible;
    width: 401px;
    height: 401px;
    @include respond(xs) {
      width: 275px;
      height: 275px;
    }
    @include respond(xxs) {
      width: 201px;
      height: 201px;
    }
  }

  &__path {
    fill: transparent;
    stroke: transparent;
    stroke-width: 1px;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    background-image: linear-gradient(to right bottom, rgba(black, 0.2), rgba(black, 0.7)),
      url("/img/Ward_Khaddour's_photo.jpg");
    background-position: center;
    background-size: cover;
    &--container {
      // width: "300px";
      // height: "300px";
      width: 282px;
      height: 282px;
      border-radius: 8px;
      background-size: contain;
      border: 5px solid var(--color-primary);
      display: inline-block;
    }
  }
  &__text {
    text-transform: uppercase;
    font-family: "Nunito", sans-serif;
    font-size: 2rem;
    letter-spacing: 1rem;
    font-style: italic;
    font-weight: 700;
    fill: var(--color-tertiary);

    @include respond(xs) {
      font-size: 3rem;
    }
    @include respond(xss) {
      font-size: 3.5rem;
    }
    &--span {
      fill: var(--color-primary);
    }
  }
}
